<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BecomeBetter"
        tools:targetApi="31">

        <!-- Main Activity (Login) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registration Activity -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <!-- Dashboard Activity -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <!-- Profile Activities -->
        <activity
            android:name=".CoachProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".DashboardActivity" />

        <activity
            android:name=".StudentProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".DashboardActivity" />

        <!-- Edit Profile Activities (to be implemented) -->
        <activity
            android:name=".EditCoachProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".CoachProfileActivity" />

        <activity
            android:name=".EditStudentProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".StudentProfileActivity" />

        <!-- Find Coach Activity -->
        <activity
            android:name=".FindCoachActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".StudentProfileActivity" />

        <activity
            android:name=".VideoListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".DashboardActivity" />

        <!-- Video Player with Annotation Activity -->
        <activity
            android:name=".VideoPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".VideoListActivity" />

        <!-- Simple Find Coach Activity (for debugging) -->
        <activity
            android:name=".SimpleFindCoachActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".StudentProfileActivity" />

        <activity
            android:name=".ViewStudentsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".DashboardActivity" />

        <!-- Add this activity inside the <application> tag -->
        <activity
            android:name=".VideoUploadActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".StudentProfileActivity" />
    </application>

</manifest>